*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #fAfAfA;
}

main{
    margin: 15px;
    min-height: 800px;
}

section[name="filters"]{
    margin-top: 10px;
}

div[name="filter_button"]{
    display: flex;
    gap: 4px;
}

div[name="text_input"]{
    display: flex;
}

/* Filter buttons */
button{
    background-color: #77cc55;
    color: white;
    border: solid 1px;
    border-radius: 5px;
    width: 80px;
    height: 25px;
    box-shadow: 2px 2px #2F3061;
    cursor: pointer;
}

button:hover{
    background-color: #63aa47;
}

/* Select filter */
select{
    background-color: #F5BB00;
    color: black;
    width: 200px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 2px 2px #2F3061;
    cursor: pointer;
}

select:hover{
    background-color: #ebb400;
}

/* Filter field */
div[id="filter_name"]{
    display: flex;
    justify-content: space-between;
    align-items: center;

    border: 1px solid #2F3061;
    border-radius: 5px;
    height: 25px;
    width: 445px;

    box-shadow: 2px 2px #2F3061;
    background-color: white;

    margin-top: 10px;
    padding-inline-end: 5px;
    padding-inline-start: 1.5px;
}

input[type="text"]{
    border: unset;
    width: 90%;
    height: 95%;
    padding-inline: 10px;
}

input[type="text"]:focus{
    border-radius: 5px;
}

/* Autocomplete list */
#autocomplete{
    position: absolute;
    z-index: 1;
    list-style: none;
    width: 450px;
    border-top: 1px solid #2F3061;
    border-left: 1px solid #2F3061;
    border-right: 1px solid #2F3061;
}

#autocomplete > li:hover{
    background-color: #ebebeb;
}

#autocomplete > li{
    background-color: white;
    border-bottom: 1px solid #2F3061;
    padding: 5px;
    cursor: pointer;
}

/* Search button */
.search{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

/* Cards */
section[id="cards"]{
    display: flex;
    max-width: 1000px;
    margin: 15px auto;
    flex-wrap: wrap;
    justify-content: center;
}

section[id="cards"] > div{
    flex: 0 1 200px;
    margin: 10px;
    padding: 10px;
}

/* No pokemon legend */
.no_pokemon{
    background-color: #fafafa;
    font-size: 20px;
}

/* Each card */
div[name="card"]{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: .5px solid #2F3061;
    box-shadow: 1px 1px #2F3061;
    cursor: pointer;
    transition: 0.2s ease;
}

div[name="card"]:hover{
    transform: translate(-5px, -2px);
    box-shadow: 5px 5px #2F3061;
}

img, p{
    background-color: white;
}

/* Footer */
footer{
    padding: 15px;
    background-color: #c9351b;
    bottom: 0;
}

footer ul{
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #c9351b;
    list-style: none;
}

li a{
    background-color: #c9351b;
    color: white;
    text-decoration: none;
}

a svg{
    background-color: white;
}

a i{
    background-color: #c9351b;
}

.fa-github, .fa-linkedin, .fa-envelope-o{
    font-size:35px !important; 
    color:#a5a5a5;
} 

.fa-github:hover,.fa-linkedin:hover,.fa-envelope-o:hover{
    color:white;
}

.signature{
    margin-top: 5px;
    background-color: #c9351b;
    color: white;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 10px;
    width: 50%;
    border-radius: 5px;
}

#dataModal{
    background-color: #fefefe;
    padding: 20px;
}

#dataModal > img{
    display: block;
    margin-top: 20px;
    margin-inline: auto;
}

#dataModal > p{
    font-size: 20px;
    font-weight: bold;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#pokeData{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.generalData{
    display: flex;
    flex: 0 1 100px;
    flex-direction: column;
    margin-top: 15px;
}

div[class="generalData"] > span{
    padding: 3px !important;
    text-align: center;
    border-radius: 5px;
    margin: 2px;
    box-shadow: 0px 2px black;
    text-shadow: 1px 1px rgb(113, 113, 113);
}

div[class="generalData"] > p{
    font-weight: bold;
    margin-bottom: 5px;
}

#abilities > span{
    background-color: #6666bb;
    color: white;
}

#evolutions > span{
    background-color: #F5BB00;
    color: white;
}

#habitat > span{
    background-color: #4e8936;
    color: white;
}

#combatData{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}